{% extends 'base.html' %}
{% load static%}

{% block css_files %}
    <link rel='stylesheet' href='{% static "challanges/challange.css" %}'> 
    <link rel='stylesheet' href='{% static "challanges/includes/header.css" %}'><link>
{% endblock%}

{% block page_title %}
    {{month_name}} Challage
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}
    <h1>{{month_name | title}} Challange</h1>

    {% if text is not None %}
        <h2>{{text}}</h2>
    {% else %}
        <p class='fallback'>There is No Challange!</p>
    {% endif %}
{% endblock %}
