{% extends "base.html" %}
{% load static%}

{% block css_files %}
    <link rel='stylesheet' href='{% static "challanges/challanges.css" %}'><link>
    <link rel='stylesheet' href='{% static "challanges/includes/header.css" %}'><link>
{% endblock %}

{% block page_title%}
    All Challanges
{% endblock %}

{% block content %}
    {%include './includes/header.html'%}
    <ul>
        {%for month in months%}
        <li>
            <a href='{% url "month-challange" month %}'>{{month | title}}</a>
        {% endfor %} 
        </li>
    </ul>
{% endblock %}